<!doctype html>
<html class="no-js" lang="">
    @@include('../html_partials/common/head.html')
    <body  data-pagetype="note-read">
        <!-- Add your site or application content here -->
        @@include('../html_partials/common/nav.html')
        @@include('../html_partials/multiselect.html')

    </body>
    @@include('../html_partials/common/js_links.html')
    <script>
    (function() {
      "use strict";
      pageFunctions.intialize();
      pageFunctions.initializeMultiSelect();
    })();
    </script>

</html>
