<!doctype html>
<html class="no-js" lang="">
    @@include('../html_partials/common/head.html')
    <body data-pagetype="note-edit">
        <!-- Add your site or application content here -->
        @@include('../html_partials/common/nav.html')
        @@include('../html_partials/record_edit_fields.html')

    </body>
    @@include('../html_partials/common/js_links.html')
    <script>
    (function() {
      "use strict";
      pageFunctions.intialize();
      pageFunctions.initializeNoteEdit();
    })();
    </script>
</html>
